<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Error</title>
  <link rel="stylesheet" data-th-href="@{/webjars/bulma/0.7.0/css/bulma.css}">
  <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" data-th-href="@{/css/style.css}">

</head>
<body>
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a th:href="@{/}"><i class="fa" aria-hidden="true"></i>&nbsp;Zookeeper Manager</a>
      </h1>
    </div>
  </div>
</section>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <section class="section">
      <h2 class="title">[[${status}]] - [[${error}]]</h2>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <span class="is-size-1">👼</span>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Baby Angel</strong>
                <small>@Babyangel</small>
                <small>2 seconds ago</small>
                <br>
                Ooops! Something went wrong.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-heart"></i></span>
                </a>
              </div>
            </nav>
            <article class="media">
              <div class="media-left">
                <span class="is-size-1">🐨</span>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Koala</strong>
                    <small>@koala</small>
                    <small>just now</small>
                    <br>
                    Oh no... :-(
                    <br>
                    Just got a [[${status}]] [[${error}]]
                    <br>
                    [[${message}]]
                  </p>

                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="icon is-small"><i class="fa fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon is-small"><i class="fa fa-heart"></i></span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
</body>
</html>