<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zookeeper Manager</title>
</head>
<body>
<section class="section" data-layout-fragment="content">
  <div class="has-text-centered container-margin">
    <h2 class="title">alive client connection count : [[${stats.serverStats.aliveConnections}]]</h2>
  </div>
  <div class="container">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <th>Address</th>
        <th>Port</th>
        <th>Unresolved</th>
        <th>hostName</th>
        <th>interestOps</th>
        <th>outstandingRequests</th>
        <th>packetsReceived</th>
        <th>packetsSent</th>
      </thead>
      <tbody>
      <tr data-th-each="stat : ${stats.connections}">
        <td>[[${stat.remoteAddress.address}]]</td>
        <td>[[${stat.remoteAddress.port}]]</td>
        <td>[[${stat.remoteAddress.unresolved}]]</td>
        <td>[[${stat.remoteAddress.hostName}]]</td>
        <td>[[${stat.interestOps}]]</td>
        <td>[[${stat.outstandingRequests}]]</td>
        <td>[[${stat.packetsReceived}]]</td>
        <td>[[${stat.packetsSent}]]</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

</body>
</html>