<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zookeeper Manager</title>

  <link rel="stylesheet" href="/webjars/bulma/0.7.0/css/bulma.css">
  <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .hero-body {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 2rem 1.5rem;
    }
  </style>

</head>
<body>
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa" aria-hidden="true"></i>&nbsp;Zookeeper Manager
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="has-text-right">
      <button id="open-modal" class="button is-success">Create Node</button>
    </div>
    <table class="table is-hoverable is-fullwidth">
      <thead>
      <th>Node</th>
      </thead>
      <tbody>
      <tr data-th-each="node : ${nodes}">
        <td><a th:href="@{'/zoo?path=' + ${node}}" th:text="${node}"></a></td>
      </tr>
      </tbody>
    </table>
    <div th:if="${#lists.isEmpty(nodes)}">
      <h4>결과가 없습니다.</h4>
    </div>
  </div>

</section>

<div class="modal">
  <div class="modal-background"></div>
  <form action="/" method="post">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create Node</p>
      </header>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" id="path" name="path" placeholder="node" required>
              </p>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control has-text-right">
            <div class="select is-primary">
              <select name="createMode">
                <option value="0">PERSISTENT</option>
                <option value="2">PERSISTENT_SEQUENTIAL</option>
                <option value="1">EPHEMERAL</option>
                <option value="3">EPHEMERAL_SEQUENTIAL</option>
                <option value="4">CONTAINER</option>
                <!--<option value="5">PERSISTENT_WITH_TTL</option>-->
                <!--<option value="6">PERSISTENT_SEQUENTIAL_WITH_TTL</option>-->
              </select>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-success">Save</button>
        <button class="button" type="button" onclick="modalClose()">Cancel</button>
      </footer>
    </div>
  </form>
</div>
</body>
<script src="/custom.js"></script>
</html>