<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zookeeper Manager</title>
</head>
<body>
<section class="section" data-layout-fragment="content">
  <div class="container">
    <div class="has-text-right">
      <button id="open-modal" class="button is-info">Create Node</button>
    </div>
    <table class="table is-hoverable is-fullwidth">
      <thead>
      <th>Node</th>
      </thead>
      <tbody>
      <tr data-th-each="node : ${nodes}">
        <td><a data-th-href="@{'/zoo?path=' + ${node}}">[[${node}]]</a></td>
      </tr>
      </tbody>
    </table>
    <div data-th-if="${#lists.isEmpty(nodes)}" class="has-text-centered">
      <h3 class="title">not found node</h3>
    </div>
  </div>


  <div class="modal" id="create-modal">
    <div class="modal-background"></div>
    <form data-th-action="@{/}" data-th-method="post">
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create Node</p>
        </header>
        <section class="modal-card-body">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" autocomplete="off" type="text" id="path" name="path" placeholder="node" required>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control has-text-right">
              <div class="select is-primary">
                <select name="createMode">
                  <option value="0">PERSISTENT</option>
                  <option value="2">PERSISTENT_SEQUENTIAL</option>
                  <option value="1">EPHEMERAL</option>
                  <option value="3">EPHEMERAL_SEQUENTIAL</option>
                  <option value="4">CONTAINER</option>
                  <!--<option value="5">PERSISTENT_WITH_TTL</option>-->
                  <!--<option value="6">PERSISTENT_SEQUENTIAL_WITH_TTL</option>-->
                </select>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-info">Save</button>
          <button class="button" type="button" onclick="createModalClose()">Cancel</button>
        </footer>
      </div>
    </form>
  </div>
</section>

</body>
</html>