<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title data-layout-title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>

  <link rel="stylesheet" data-th-href="@{/webjars/bulma/0.7.0/css/bulma.css}">
  <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" data-th-href="@{/css/style.css}">

</head>
<body>
  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a data-th-href="@{/}"><i class="fa" aria-hidden="true"></i>&nbsp;Zookeeper Manager</a>
        </h1>
      </div>
    </div>
  </section>
  <div data-layout-fragment="content">

  </div>
</body>
<script data-th-src="@{/js/custom.js}"></script>
</html>