<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title data-layout-title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>

  <link rel="stylesheet" data-th-href="@{/webjars/bulma/0.7.0/css/bulma.css}">
  <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" data-th-href="@{/css/style.css}">

</head>
<body>
<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" data-th-href="@{/}">
      Zookeeper Manager
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Admin
        </a>
        <nav class="is-boxed" role="navigation" aria-label="dropdown navigation">
          <div class="navbar-dropdown is-right">
            <a data-th-href="@{/connections}" class="navbar-item">
              Connections
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              Version 0.1.0
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>
<div data-layout-fragment="content">

</div>
</body>
<script data-th-src="@{/js/custom.js}"></script>
</html>